@import url(reset.css);

body {
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
}

/* Navigation Bar */

.navbar-container {
    background-color: #2b2b2b;
    width: auto;
    max-height: 3rem;
    padding: 0.5rem 0rem 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
}

.navbar-container ul {
    display: flex;
    justify-content: center;
    list-style: none; 
}

.nav-options li {
    border: 2px;
    border-style: solid;
    border-color: rgb(37, 37, 37);
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 0.75rem;
    margin: 0rem 0.5rem 0rem;
    border-radius: 0.5rem;
    align-items: center;
}

ul.nav-options li a {
    color: white;
    text-decoration: none;
}

/* Home */

.home-container {
    background-image: url(../images/coal-harbour.png);
    min-height: 100vh;
    min-width: auto;
    padding: 8rem 10rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-logo {
    width: 12rem;
    height: 12rem;
    padding: 5rem 5rem 3rem;
}

.home-logo img {
    max-width: 100%;
    max-height: 100%;
}

.about {
    min-width: 60rem;
    max-height: 10rem;
    padding: 0rem 5rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-header {
    text-transform: uppercase;
    font-size: 5.5rem;
    letter-spacing: 0.5rem;
    color: white;
}

.home-subheader {
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: 0.25rem;
    color: #e7e7e7;
    padding: 0rem 0rem 1.5rem;
}

.home-paragraph {
    text-align: center;
    font-size: 1.25rem;
    color: white;
    padding: 1.5rem 0rem 0rem;
}

/* Services */

.services-container {
    background-color: #161616;
    min-width: 100%;
    min-height: 50vh;
    padding: 6rem 0rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-header {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 0rem 0rem 3rem;
}

.services-card-container {
    display: flex;
    flex-direction: row;
    padding: 0rem 0rem 2rem;
}

.service-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    min-width: 25rem;
    margin: 0rem 3rem 0rem;
    font-size: 2rem;
}

.service-logo {
    color: #00cffe;
    font-size: 3rem;
    padding: 1rem;
}

.service-logo:hover {
    color: #8eeaff;
    transition: all 0.3s ease-out;
    font-size: 3.5rem;
}

/* Pricing */

.pricing-container {
    background-image: url(../images/lost-lagoon.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0rem 6rem;
    max-width: auto;
    min-height: 80vh;
}

.pricing-header {
    text-transform: uppercase;
    font-size: 4rem;
    color: white;
    padding: 0rem 0rem 2rem;
}

.pricing-subheader {
    font-size: 1.25rem;
    color: #e7e7e7;
    max-width: 80%;
}

.pricing-card-container {
    display: flex;
    flex-direction: row;
    min-width: 80%;
    padding: 3rem 0rem 3rem;
    justify-content: space-between;
}

.pricing-card {
    border-style: solid;
    background-color: #0167a2;
    box-shadow: 3px 5px 15px #37627c;
    border-radius: 1rem;
    height: 25rem;
    width: 16rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-card-icon {
    font-size: 1rem;
    padding: 1rem;
}

.pricing-card-header {
    color: white;
    text-transform: uppercase;
    font-size: 1.7em;
    padding: 0rem 0rem 2rem;
}

.pricing-card-details ul {
    color: #e7e7e7;
    list-style: none;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding: 0rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing-card-value {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    padding: 0rem 0rem 3rem;
}

.redeem-card-button {
    background-color: #ffb732;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.25rem;
    height: 1.25rem;
    letter-spacing: 0.2rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.redeem-card-button:hover {
    font-size: 1.3rem;
    background-color: #fcc359;
    height: 1.4rem;
    transition: all 0.3s ease-out;
}

/* Testimonials */

.testimonials-container {
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    align-items: center;
    width: auto;
    height: 100vh;
}

.testimonials-header {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 0rem 0rem 1rem;
}

.testimonials-subheader {
    font-size: 1.25rem;
    color: #e7e7e7;
    max-width: 80%;
    padding: 0rem 0rem 3rem;
}

.testimonial-card-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80%;
}

.testimonial-card-left {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem 10rem 2rem;
    margin: 2rem;
    border-radius: 2rem;
    width: auto;
}

.testimonial-card-right {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem 10rem 2rem;
    margin: 2rem;
    border-radius: 2rem;
    width: auto;
}

.testimonial-open-quote {
    color: white;
    font-size: 1.5rem;
    padding: 0rem 2rem 12rem;
}

.testimonial-close-quote {
    color: white;
    font-size: 1.5rem;
    padding: 12rem 2rem 0rem;
}

.testimonial-body {
    color: white;
    font-size: 2rem;
    padding: 2rem 0rem 2rem;
    width: 30rem;
}

.testimonial-provider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
}

.testimonial-provider-image {
    height: 12rem;
    width: 12rem;
    padding: 0rem 0rem 1rem;
}

.testimonial-provider-image img {
    max-height: 100%;
    max-width: 100%;
}

.testimonial-provider-name {
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.testimonial-provider-details {
    color: white;
    font-size: 1.25rem;
}

/* Careers */

.careers-container {
    background-image: url(../images/ubc-vancouer-campus.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    width: auto;
    height: 100vh;
}

.careers-header {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 0rem 0rem 2rem;
}

.career-card-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    padding: 2rem 0rem;
    width: 80%;
}

.career-card {
    background-color: rgb(97, 97, 97);
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    border-left: #587e96 1.5rem solid;
    box-shadow: 3px 3px 3px black;
    padding: 2rem;
    margin: 0.5rem;
    width: 25%;
}

.career-name {
    color: white;
    font-size: 1.5rem;
    width: 90%;
    height: 1.75rem;
    margin: 0.5rem;
    border-bottom: 1px solid white;
    opacity: 1;
}

.career-details-container {
    color: white;
    font-size: 1rem;
    opacity: 1;
    display: flex;
    flex-wrap: wrap;
}

.career-hours, .career-hours, .career-language-requirement {
    width: 40%;
    margin: 0rem 0rem 0.25rem;
}

.career-hours i, .career-hours i, .career-language-requirement i {
    padding: 0rem 0.25rem 0rem 0rem;
}

.career-language-requirements ul{
    list-style: disc;
    padding: 0.5rem 3rem;
}

.career-description {
    color: white;
    font-size: 1rem;
    padding: 1rem 0rem;
}

/* FAQs */

.faqs-container {
    background-color: #222222;
    padding: 3rem 10rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs-header {
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
    padding: 0rem 0rem 3rem;
}

.qa-container {
    display: flex;
    flex-direction: column;
}

.question {
    color: white;
    background-color: #464646;
    font-size: 2rem;
    padding: 1rem;
    border-left: #587e96 1.5rem solid;
}

.answer {
    color: white;
    font-size: 1.5rem;
    padding: 2rem 1rem 3rem;
}

.answer a {
    color: white;
}

/* Contact Us */

.contact-us-container {
    background-color: #222222;
    padding: 3rem 10rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us-header {
    color: white;
    font-size: 4rem;
    text-transform: uppercase;
    padding: 0rem 0rem 2rem;
}

.contact-information {
    color: white;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.phone-numbers-header, .email-addresses-header {
    font-size: 2rem;
    padding: 0rem 0rem 1rem;
}

.phone-numbers-region {
    font-size: 1.25rem;
    padding: 0rem 0rem 0.5rem;
}

.phone-numbers ul li, .email-addresses ul li {
    padding: 0.1rem 0rem 1rem;
    letter-spacing: 0.25rem;
}